/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
header {
  color: #fff;
  padding: 10px;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos de la sección de trabajos */
section {
  padding: 40px 0;
}

section h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
  margin-bottom: 20px;
}

/* Estilos del formulario de contacto */
form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea.form-control {
  resize: vertical;
  height: 150px;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

section h2{ 
  text-align: center;
}

.btn-primary:hover {
  background-color: #555;
}

/* Estilos del pie de página */
footer {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icon:hover {
  opacity: 0.8;
}



